// Glyphicons font path
$icon-font-path: "../fonts/";

// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

// Colors
$color-white: white;
$color-primary: #fffcf1;
$color-secondary: rgba(246, 223, 197, 0.4);
$color-tertiary: rgba(241, 217, 190, 0.5);
$color-forth: #035c67;
$color-fifth: #ff595a;
$color-sixth: #4d4d4d;

// Font

$font-tafel-s: "Tafel Sans";
$font-moranga: "Moranga";
