.encuentranos__hero {
  background-color: $color-primary;
  .col-md-6 {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 80px !important;
    .encuentranos__logo {
      position: relative;
      z-index: 10;
    }
    h2 {
      color: $color-fifth;
      font-family: $font-moranga;
      font-size: 36px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 46px;
      text-align: center;
    }
    p {
      color: #4d4d4d;
      font-family: $font-tafel-s;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 18px;
      text-align: center;
      margin: 0;
    }
  }
}
.encuentranos__maps {
  background-color: $color-primary;
  padding-bottom: 50px;
  position: relative;
  z-index: 10;
  .maps__gallery {
    margin-bottom: 30px;
    .map__gallery-map {
      width: 100%;
      height: 500px;
      .map__addresses {
        height: 312px;
        position: absolute;
        z-index: 100;
        background-color: $color-fifth;
        border-radius: 20px;
        right: 40px;
        bottom: -60px;
        display: flex;
        align-items: center;
        .map__addresses-wrapper {
          height: 280px;
          width: 244px;
          overflow: scroll;
        }
        .map__address {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          padding: 10px;
          padding-right: 15px;
          padding-bottom: 0;
          .map__address-pointer {
            width: 7%;
            margin-top: 5px;
          }
          .map__address-info {
            width: 88%;
            border-bottom: 1px solid rgba($color: #7c1516, $alpha: 0.7);
            h4 {
              color: $color-white;
              font-family: $font-moranga;
              font-size: 18px;
              font-weight: bold;
              letter-spacing: 0;
              line-height: 26px;
              margin-top: 0;
            }
            p {
              color: $color-white;
              font-family: $font-tafel-s;
              font-size: 12px;
              font-weight: 300;
              letter-spacing: 0;
              line-height: 16px;
              text-align: justify;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
  .maps__gallery-nav {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;

    .maps__gallery-nav-title {
      cursor: pointer;
      color: #525252;
      font-family: $font-moranga;
      font-size: 19px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 26px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .ciudades {
      display: flex;
      justify-content: space-around;
      width: 100%;
      p {
        cursor: pointer;
        color: #525252;
        font-family: $font-moranga;
        font-size: 18px;
        font-weight: 300 !important;
        letter-spacing: 0;
        line-height: 26px;
        border-bottom: 3px solid $color-fifth;
      }
      p.tns-nav-active {
        font-size: 19px;
      }
    }
  }
}

.mapboxgl-map {
  overflow: unset !important;
  border-radius: 20px !important;
}

.encuentranos__texture {
  position: absolute;
  z-index: 5;
  width: 65%;
  top: -25%;
  left: 17.6%;
  display: none;
}

.map__wrapper {
  height: auto;
  overflow: hidden;
  iframe {
    margin-top: -56px;
  }
}

@media (max-width: 768px) {
  .encuentranos__logo {
    display: none;
  }

  .maps__gallery-nav-title {
    text-align: center;
    padding: 0 15px;
  }

  .ciudades {
    flex-wrap: wrap;
  }

  .encuentranos__texture {
    width: 82%;
    top: 24%;
    left: 8.6%;
  }
}
