.hero {
  background-color: $color-primary;
  .hero__col {
    display: flex;
    flex-flow: column;
    align-items: center;
    .hero__logo {
      width: 120px;
      height: 60px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    .hero__text {
      h2 {
        color: $color-fifth;
        font-family: $font-moranga;
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 46px;
        text-align: center;
      }
      p {
        color: $color-sixth;
        font-family: $font-tafel-s;
        font-size: 12px;
        letter-spacing: 0;
        line-height: 18px;
        text-align: center;
        margin: 5px;
      }
    }
    .hero__images {
      position: relative;
      display: flex;
      .hero__esquimal {
        margin: 10px 0;
        width: 80%;
      }
      .hero__cta {
        width: 83%;
        height: 34%;
        object-fit: contain;
        transform: scale(1.3);
      }
    }
  }
}

.about {
  background-color: $color-secondary;
  padding-top: 130px !important;
  padding-bottom: 130px !important;
  .about__col {
    padding-top: 37px;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    .about__background {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      img {
        position: absolute;
      }
      .about__texture1 {
        top: -74px;
        right: 8%;
      }
      .about__texture2 {
        right: 11.3%;
        top: -50px;
      }
    }
    .about__stars {
      display: flex;
      justify-content: space-evenly;
      width: 22%;
    }
    h2 {
      color: $color-fifth;
      font-family: $font-moranga;
      font-size: 36px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 46px;
      text-align: center;
      margin-bottom: 15px;
    }
    p {
      width: 50%;
      text-align: justify;
      color: $color-sixth;
      font-family: $font-tafel-s;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 18px;
      margin: 0px;
    }
    .about__stamp {
      margin-top: 12px;
    }
  }
}

.hero__ig-slider {
  background-color: $color-tertiary;
  padding-left: 7.5% !important;
  padding-top: 80px !important;
  padding-bottom: 80px !important;
  a {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .slider__ig-icon {
      width: 29px;
      height: 29px;
      display: inline-block;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 8px;
    }
    span {
      color: $color-fifth;
      font-family: $font-moranga;
      font-size: 36px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 40px;
    }
  }
  .hero__slider-col {
    margin-bottom: 150px;
    .owl-one {
      .owl-stage-outer {
        .owl-stage {
          .owl-item {
            .slider__one-img {
              width: 353px;
              height: 353px;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
  }

  .hero__slider-col2 {
    display: flex;
    .hero__slider2-text {
      h2 {
        color: $color-fifth;
        font-family: $font-moranga;
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 40px;
        margin-bottom: 20px;
      }
      p {
        color: #525252;
        font-family: $font-tafel-s;
        font-size: 13px;
        letter-spacing: 0;
        line-height: 18px;
        text-align: justify;
      }
    }
    .owl-two {
      padding-left: 5%;
      .owl-stage-outer {
        .owl-stage {
          .owl-item {
            .slider__one-img {
              width: 319px;
              height: 461px;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
              border-radius: 15px;
            }
          }
        }
      }
      .owl-dots {
        margin-top: 50px;
        margin-left: 8%;
        button {
          outline: none;
          span {
            width: 55px;
            margin: 0;
            display: inline-block;
            background-image: url("../../dist/images/Branding/slider_02.svg");
            background-position: center;
            background-size: contain;
            background-color: transparent;
            background-repeat: no-repeat;
            border-radius: 0;
            opacity: 0.8;
          }
        }
        .owl-dot.active {
          span {
            background-image: url("../../dist/images/Branding/slider_01.svg");
            opacity: 1;
          }
        }
      }
    }
  }
}

.meet__family {
  background-color: $color-tertiary2;
  padding: 60px 0;
  padding-left: 70px !important;
  h2 {
    text-align: center;
    color: $color-fifth;
    font-family: $font-moranga;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 40px;
    margin-bottom: 60px;
  }

  .tns-slide-active  {
    transition: 0.2s ease-in-out;
  }

  .owl-three {
    padding-right: 0;
  }

  .owl-three-nav {
    padding-top: 50px;
    .owl__three-p {
      width: 180px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-fifth;
      color: #ffffff;
      font-family: $font-tafel-s;
      font-size: 17px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 18px;
      cursor: pointer;
      border-radius: 40px;
      outline: none;
      margin-bottom: 60px;
    }
    .owl__three-p.tns-nav-active {
      background-color: $color-blue;
      box-shadow: 6px 7px 13px 0 rgba(0, 0, 0, 0.2);
    }
  }
}

.current__slide {
  width: 900px;
  margin-left: 20px;
  margin-bottom: 40px;
  .hero__slider-image {
    height: 527px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.slider__nav {
  padding: 0;
  margin-left: 150px;

  .hero__slider-img-nav {
    height: 165px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 15px 0;
    margin-right: 30px;
    cursor: pointer;
    outline: none;
    box-shadow: 6px 4px 10px 0px #bababa;
  }
}

.arrow-left,
.arrow-right {
  position: absolute;
  bottom: 70px;
  z-index: 50;
}

.arrow-left {
  width: 50px;
  height: 50px;
  right: -20px;
  background-image: url("../../dist/images/Icon/arrow_left.svg");
  background-position: center;
  background-size: contain;
}

.arrow-right {
  width: 50px;
  height: 50px;
  right: -90px;
  background-image: url("../../dist/images/Icon/arrow_right.svg");
  background-position: center;
  background-size: contain;
}
