.footer__container {
  height: 467px;
  background-color: $color-tertiary2;
  position: relative;
  .container-fluid {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .footer__texture {
    position: absolute;
    left: -3%;
    bottom: 0;
  }
  .footer__texture2 {
    display: none;
    position: absolute;
    right: -208px;
    bottom: -363px;
  }

  .footer__texture3 {
    width: 750px;
    display: none;
    position: absolute;
    bottom: -293px;
    right: -290px;
  }
  .footer__col {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 3%;
    padding-top: 157px;
    padding-bottom: 25px;
    .footer__logo {
      width: 150px;
    }
    .footer__menu {
      display: flex;
      padding: 0;
      li {
        list-style: none;
        margin: 0 25px;
        a {
          color: white;
        }
        a:hover {
          color: #78ded4;
        }
      }
    }
    .footer__social-media {
      .footer__icon {
        display: inline-block;
        width: 27px;
        height: 27px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 10px;
      }
      .footer__fb:hover {
        background-image: url("../../dist/images/Icon/icon_fb_hover.svg") !important;
      }
      .footer__ig:hover {
        background-image: url("../../dist/images/Icon/icon_ig_hover.svg") !important;
      }
    }
    .terms {
      a:first-child {
        border-right: 1px solid white;
        padding-right: 10px;
      }
      a {
        color: white;
        padding: 0 5px;
      }
    }
  }
}
