.banner {
  background-color: $color-primary;
  padding: 42px 0;
  .banner__container {
    .header__col {
      display: flex;
      justify-content: space-around;
      nav {
        display: flex;
        align-items: center;
        background-color: transparent;
        position: relative;
        z-index: 10;
        .menu-item {
          margin-right: 17px;
          a {
            color: $color-forth;
            font-family: $font-tafel-s;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 20px;
            transition: 0.3s;
          }
          a:hover {
            background-color: transparent;
            font-weight: bold;
          }
        }
      }
      .header__whatsapp {
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background: linear-gradient(0deg, #009500 0%, #77d128 100%);
        position: fixed;
        right: 12%;
        top: 36px;
        z-index: 100;
        border-radius: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 22px;
        .header__wa-icon {
          width: 22px;
          height: 22px;
          background-size: cover;
          background-position: center;
        }
        p {
          color: $color-white;
          font-family: $font-tafel-s;
          font-size: 17px;
          font-weight: bold;
          letter-spacing: 0;
          line-height: 18px;
          text-align: center;
          margin: 0;
        }
      }
    }
  }
}

.navbar-expand-lg {
  background-color: transparent !important;
}
.menu-home {
  display: none;
}

.navbar-nav {
  width: 100%;
  justify-content: center;
}

.header__logo {
  display: none;
}

@media (max-width: 768px) {
  .banner {
    padding-bottom: 0 !important;
  }

  .navbar {
    margin-bottom: 0;
  }

  .header__logo {
    display: initial;
    position: absolute;
    left: 0;
    top: -9px;
    width: 100px;
  }

  .navbar-collapse {
    padding-top: 50px;
  }

  .header__whatsapp {
    width: auto !important;
    padding: 10px !important;
    right: 15px !important;
    top: initial !important;
    bottom: 15px;
    p {
      display: none;
    }
  }

  .menu-home {
    display: initial;
    margin-right: 0 !important;
    text-align: center;
  }

  .navbar-toggler {
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 25px;
    li {
      margin-right: 0 !important;
      margin: 10px 0;
    }
  }

  .navbar-nav {
    margin: 0 !important;
  }
}
